<%= javascript_pack_tag 'bingo' %>
<p id="notice"><%= notice %></p>
<div class="container">
    <div class="bingo-container w-75">
        <% if @board.squares %>
            <% @board.squares.each do |square| %>
                <div id="square-<%= square.id %>" class="square grid-lines <%= squareActive?(square) %>">
                    <span><%= square.phrase.content %></span>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
