<%= javascript_pack_tag 'bingo' %>
<p id="notice"><%= notice %></p>
<div class="container">
    <%= render 'board' %>
</div>
<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
