<!DOCTYPE html>
<html>
  <head>
    <title>OdinBingo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <%= getUserImage %>
        <p><%= current_user.name %></p>
        <%= link_to 'boards', boards_path %>
        <%= link_to 'phrases', phrases_path if user_is_admin?%>
        <%= link_to 'users', users_path if user_is_admin?%>
    <% else %>
        <%= link_to 'Sign In', new_user_session_path %>
        <%= link_to 'Sign Up', new_user_registration_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
